---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const friendsPost = await getEntry("spec", "friends");

if (!friendsPost) {
	throw new Error("friends page content not found");
}

const { Content } = await render(friendsPost);
const items = [
    {
        title: "Maine",
        imgurl: "https://mainesec.vercel.app/_astro/about.BREBD_c-_Z1Rj0a4.webp",
        desc: "One of my teammates and a good friend. Check them out!",
        siteurl: "https://mainesec.vercel.app",
        tags: ["Teammate", "Friend"],
    },
    {
        title: "Mane",
        imgurl: "https://raw.githubusercontent.com/manesec/manesec/refs/heads/main/avatar.png",
        desc: "One of my teammates and the smartest person I know. Check them out!",
        siteurl: "https://manesec.github.io",
        tags: ["Teammate", "Friend"],
    },
    {
        title: "0dv",
        imgurl: "https://www.downunderendeavours.com/wp-content/uploads/2016/02/Kiwi-650x400-tourismrotorua.jpg",
        desc: "The Index finger of our team and the man to learn from, 10+ years in the field. Check them out, especially if you like grifting!",
        siteurl: "https://blog.0dv.lol",
        tags: ["Teammate", "Friend"],
    },
    {
        title: "Ceald",
        imgurl: "https://ceald.cc/avatar.png",
        desc: "A master of Golang and just general knowledge of systems! Ceald is someone you can trust with any framework. Check them out!",
        siteurl: "https://ceald.cc/",
        tags: ["Friend"],
    },
    {
        title: "Wyv",
        imgurl: "https://i.pinimg.com/originals/08/c4/bf/08c4bfa9ba45e6d5b1b5d4588c344771.gif",
        desc: "Wyv is a developer as well as an amazing person. Reach out to them for any projects or discord bots!",
        siteurl: "https://github.com/WyvDoesDev",
        tags: ["Friend", "Github"],
    },
    {
        title: "Tensho",
        imgurl: "https://0xtensho.github.io/assets/img/avatar.jpg",
        desc: "An insane teammate that accomplishes anything that crawls into his mind. Check them out!",
        siteurl: "https://0xtensho.github.io/",
        tags: ["Teammate", "Friend"],
    },
    {
        title: "XeroExecute",
        imgurl: "https://avatars.githubusercontent.com/u/170091031?v=4",
        desc: "Another teammate that has a bright mind and future. Check them out!",
        siteurl: "https://xeroexecute.github.io/",
        tags: ["Teammate", "Friend"],
    },
    {
        title: "Karev",
        imgurl: "https://karevvv.github.io/assets/img/profile.jpg",
        desc: "An amazing person that is studying Cybersecurity. Check them out!",
        siteurl: "https://karevvv.github.io/",
        tags: ["Friend"],
    },
    {
        title: "W1LD",
        imgurl: "https://0xw1ld.github.io/assets/img/logo.png",
        desc: "W1ld is a moderator for HackTheBox. They are known as a very helpful teacher and even mentor. Check them out!",
        siteurl: "https://0xw1ld.github.io/",
        tags: ["Friend"],
    },
    {
        title: "Artefact",
        imgurl: "https://artefactlab.me/ArtefactLab.png",
        desc: "Artefact is a very smart person, their site has some labs that you can test your skills on. Check them out!",
        siteurl: "https://artefactlab.me",
        tags: ["Friend"],
    },
];

function shuffleArray(array) {
	const newArray = [...array];
	for (let i = newArray.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[newArray[i], newArray[j]] = [newArray[j], newArray[i]];
	}
	return newArray;
}

const shuffledItems = shuffleArray(items);
---
<MainGridLayout title={i18n(I18nKey.friends)} description={i18n(I18nKey.friends)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8 my-4">
                {shuffledItems.map((item) => (
                    <div class="flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]">
                        <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
                            <img src={item.imgurl} alt="站点头像" class="w-full h-full object-cover">
                        </div>
                        <div class="grow w-full">
                            <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 mb-1">{item.title}</div>
                            <div class="text-50 text-sm font-medium">{item.desc}</div>
                            <div class:list={["items-center", {"flex": true, "hidden md:flex" : false}]}>
                                <div class="flex flex-row flex-nowrap items-center">
                                    {(item.tags && item.tags.length > 0) && item.tags.map((tag,i) => (
                                    <div class:list={[{"hidden": i==0}, "mx-1.5 text-[var(--meta-divider)] text-sm" ]}>
                                        /
                                    </div>
                                    <span class="transition text-50 text-sm font-medium">
                                        {tag}
                                    </span>))}
                                    {!(item.tags && item.tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>}
                                </div>
                            </div>
                        </div>
                        <a href={item.siteurl} target="_blank" rel="noopener noreferrer"class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="transition text-[var(--primary)] text-4xl mx-auto iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"></path>
                            </svg>
                        </a>
                    </div>
                ))}
            </div>
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>
